<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(startTime) { %>
    <p>Experiment started: <%= startTime %></p>
    <p>Subjects: <%= subjectCount %></p>
    <% } else { %>
    <p>No experiment running.</p>
    <% } %>
    <form action="/settings" method="POST">
      <table>
        <tr>
          <td>Subjects per auction</td><td><input type="input" name="groupSize" value="<%= groupSize %>" /></td>
        </tr>
        <tr>
          <td>Auction increment</td><td><input type="input" name="increment" value="<%= increment %>" /></td>
        </tr>
        <tr>
          <td>Showup Fee</td><td><input type="input" name="showupFee" value="<%= showupFee %>" /></td>
        </tr>
      </table>
      <input type="submit" value="Save" />
    </form>
    <form action="/session" method="POST">
      <input type="hidden" name="action" value="start" />
      <input type="submit" value="Assign Groups" />
    </form>
  </body>
</html>
