<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Experiment started: <%= startTime %></p>
    <p>Subjects: <span class='subjectCount'><%= subjectCount %></span></p>
    <% if(groupsAssigned) { %>
    <p>Groups have been assigned.</p>
    <% } else { %>
    <p>Groups not yet assigned.</p>
    <% } %>
    <form action="/settings" method="POST">
      <table>
        <tr>
          <td>Subjects per auction</td><td><input type="input" name="groupSize" value="<%= groupSize %>" /></td>
        </tr>
        <tr>
          <td>Auction increment</td><td><input type="input" name="increment" value="<%= increment %>" /></td>
        </tr>
        <tr>
          <td>Showup Fee</td><td><input type="input" name="showupFee" value="<%= showupFee %>" /></td>
        </tr>
      </table>
      <input type="submit" value="Save" />
    </form>
    <form action="/session" method="POST">
      <input type="hidden" name="action" value="start" />
      <input type="submit" value="Assign Groups" />
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost/observers');
      socket.on('subject', function(data) {
        $('.subjectCount').html(data.subjectCount);
      });
    </script>
  </body>
</html>
