<p>Bidding in today&rsquo;s auction proceeds in steps and will be explained to you shortly.</p>
<ol start="1" style="list-style-type: upper-alpha; ">
  <li>At each stage in the auction you will see the price set by the computer and you have to indicate whether you are willing to pay this price to buy the <%= objectName %>. The computer will also display the number of bidders in the auction who are willing to buy the <%= objectName %> at that price.</li>
  <li>In subsequent stages, the computer will raise the price in increments of Rs. <%= increment %> and you will repeat the procedure in A above.</li>
  <li>If the price displayed by the computer is acceptable to you, you will press the button &ldquo;I am in the auction&rdquo; and if not, you will press &ldquo;I am out of the auction&rdquo;.</li>
  <li>As price rises you will find that some people (including yourself) in your group might drop out of the auction. The auction proceeds in stages until there is only 1 bidder left in the auction. This surviving bidder will be the winner of the auction.</li>
  <li>The winner will receive the <%= objectName %> at the price at which he/she was the sole bidder left in the auction. The price for the <%= objectName %> will be deducted from his money earnings from previous stages.</li>
  <li>Bidders who drop out of the auction until there was only one bidder left in the auction will not receive the <%= objectName %> and their money earnings from previous ￼￼stages will be transferred to them.</li>
</ol>
