<p>You will now have the opportunity to bid in an auction where we will be selling the <%= objectName %> displayed on the table in front of you.</p>
<p>You have received the participation fee of Rs <%= showupFee %> for showing up for today&rsquo;s experiment and Rs. <%= earningsTaskEarnings %> as earnings from the counting task. This amount is independent of the value of the <%= objectName %> that is being auctioned in this experiment.</p>
<p>It is important that you do not talk, or in any way try to communicate with other people during this portion of the experiment.</p>
<p>If you have a question, raise your hand and a monitor will come over to where you are sitting and answer your question in private.</p>
<p>The computer will randomly assign you to a group. You will be competing with other individuals in your group in the auction.</p>
<p>You will not know which are the other people in your group and others will not know whom they are grouped with for this auction.</p>

<h3>Description of the available good:</h3>
<p style="text-align: center;"><%= objectName %></p>
